@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
}
/* Hide default cursor */
body {
  cursor: none; 
  font-family: var(--font-inter);
}
html, body {
  overflow-x: hidden;
}
@keyframes rotate-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Custom component classes */
@layer components {
  .animate-rotate-slow {
    animation: rotate-slow 25s linear infinite;
  }

  .swiper-slide {
    @apply transition-all duration-300 ease-[ease];
    transition-property: transform, opacity;
  }

  .swiper-slide:hover {
    @apply z-10;
  }
}

/* Large red circle (Border Only) */
.cursor-large {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(247, 108, 189, 0.7); 
  border-radius: 50%;
  background: transparent; 
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out; 
  z-index: 9998;
}

/* Small pink dot */
.cursor-small {
  position: fixed;
  width: 6px;
  height: 6px;
  background-color: #e94d4d; 
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.02s ease-out; 
  z-index: 9999;
}

/* Hover effect */
.cursor-large.hover {
  width: 30px;
  height: 30px;
  border-width: 3px; 
}

.cursor-small.hover {
  width: 10px;
  height: 10px;
}

/* ------------scroall bar --------- */


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 40px; 
  height: 40px; 
}

::-webkit-scrollbar-track {
  background: #e6e6e6; /* Softer background for better contrast */
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ca9cca, #AD49E1); /* Smooth gradient */
  border-radius: 15px;
  border: 10px solid #e6e6e6; /* Creates padding effect */
  transition: background 0.3s ease, opacity 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6446aa, #EBD3F8); /* Lighter hover effect */
  opacity: 0.9;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fd3f49 #e6e6e6;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}


